<!DOCTYPE html>
<html>
<head>
	<title>mpesa</title>
	<link href="../node_modules/bootstrap3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
<div class="col-md-6 col-md-offset-3">
   <img src="img/product.jpg" style="height: 300px; width: 500px;">

   <form>
  <div class="form-group">
  <h3>Buy this product</h3>
    <input type="email" class="form-control" placeholder="Your phone">
  </div>
  <button type="submit" class="btn btn-default">Buy</button>
</form>
 </div>
 </div>
</body>
</html>